.add-new-note-wrapper h1{
margin: 0;
}

.form-wrapper{
margin-top: 30px;
display: flex;
gap: 20px;
justify-content: center;
}

.form-wrapper input{
padding: 10px 70px;
}

.form-wrapper button{
    padding: 10px 50px; 
    background: black;
    color: #ffdd88;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.form-wrapper button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}