.notes-list-wrapper h1{
margin: 0px;
}

.notes-list-wrapper ul{
    margin: 0;
    display: flex;
    gap:15px;
    list-style: none;
    justify-content:center;
    flex-wrap: wrap;
}

.notes-list-wrapper ul li{
    width:200px;
    height: 200px;
    background-color: black;
    color: #ffdd88;
    font-size: 20px;
    font-weight: bold;
}